.box{
    /*width: 1000px;*/
    width: 80%;
    height: 200px;
    background-color: blueviolet;
    overflow: scroll;
    color: white;
    /*form 1*/
    border-width: 5px;
    border-style: solid;
    border-color: deeppink;
    /*form 2*/
    border-style: 5px solid deeppink;
    border-radius: 50px;
    /*form 1*/
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 70px;
    /*form 2*/
    padding: 40px 70px 50px 60px;
    /* padding: top right bottom left; */

    /*----------*/
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 50px;
    /*form*/
    margin: 20px 50px 30px 40px;

}

.fly{
    float: ;
}